.PiwikLookupModalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none
}

.PiwikLookupModalDialog > div {
    width: 90%;
    max-width: 500px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.PiwikLookupClose {
    cursor: pointer;
    margin-right: -14px;
}

.PiwikLookupClose:hover {
    opacity: 0.6;
}
